<!-- Bottom Navigation Bar, will hold predefined analyses -->
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <form method="post">
          <button class="nav-link btn btn-secondary d-inline-flex align-items-center me-4 mr-2" type="submit" name="analyses" id="analyses_1" value="ana_1">Analysis 1</button>
          <button class="nav-link btn btn-secondary d-inline-flex align-items-center me-4 mr-2" type="submit" name="analyses" id="analyses_2" value="ana_2">Analysis 2</button>
          <button class="nav-link btn btn-secondary d-inline-flex align-items-center me-4 mr-2" type="submit" name="analyses" id="analyses_3" value="ana_3">Analysis 3</button>
        </form>
      </div>
    </div>
</footer>
